<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }
</style>
<ul>
  <li><a href="/list-all">List All</a></li>
  <li><a href="/list-all/units">Units</a></li>
  <li><a href="/list-all/classes">Classes</a></li>
  <li><a href="/list-all/races">Races</a></li>
  <li><a href="/list-all/rarities">Rarities</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>