<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auto Battler Wiki</title>
</head>

<body>
  <%- include("partials/navbar-home") %>
  <% if (data) { %>
  <h1>Welcome back <%= data.getFullname() %></h1>
  <% } %>
</body>

</html>