<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Im Tanker</title>
</head>

<body>
  <%- include("partials/navbar")  %>
  <br>
  <h2>Im Tanker!</h2>
  <table border="1">
    <tr>
      <th>No</th>
      <th>Name</th>
    </tr>
    <% data.forEach((el,index) => { %>
    <tr>
      <td><%= index+1 %> </td>
      <td><%= el.name %> </td>
    </tr>
    <% }) %>
  </table>
</body>

</html>